<div>
    <app-show-date-selection [isDateValid]="isDateValid"(requestTicketState)="showDateChangeConfirmed($event)"></app-show-date-selection>
    <div>
        <div *ngFor="let genreTicketStates of ticketStateByGenre; let genreIndex = index">
            <div class="genre-tilte">{{genreTicketStates.genre}}</div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Tickets left</th>
                        <th scope="col">Tickets available</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let ticketState of genreTicketStates.shows" class='show-row'>
                        <tr app-ticket-state [ticketState]="ticketState" [showDate]="showDate"
                            (ticketsBought)="requestTicketStates($event)" class="show-row"></tr>
                    </ng-container>
                </tbody>
            </table>
            <br/>
        </div>
    </div>
</div>
