<div>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="showDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button (click)="requestState()">Submit</button>
    <div [hidden]="isDateValid">Date is not valid</div>
</div>