<td>{{ticketState.title}}</td>
<td>{{ticketState['tickets left'] - ticketState['tickets sold']}}</td>
<td>
    <span>{{ticketState['tickets available'] - ticketState['tickets sold']}}</span>
    <div class="buy-container">
		<span [hidden]="ticketState['tickets available'] - ticketState['tickets sold'] <= 0">
			<input type="number" name="ticketMount-{{genreIndex}}-{{showIndex}}"
               min='0'
               max="{{ticketState['tickets available'] - ticketState['tickets sold']}}"
               [(ngModel)]="ticketState.ticketAmount">
		<button (click)="buyTickets(ticketState.title, ticketState.startDateString, ticketState.ticketAmount)">
			Buy
		</button>
		</span>
    </div>
</td>
<td>{{ticketState.status}}</td>
<td>{{ticketState.price}}</td>
